body {
    background-color: blue;
    border-style:solid;
    text-align: center;
}
h1{
    background-color:#2cfd2c;
    border-style:solid ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
